{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Add Post {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-7 offset-2 py-4">
            <h1 class="text-center"> Add Post</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
                
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}