<div>
    {% if page.has_other_pages %}
        <nav aria-label="Page navigation" style="display: flex; justify-content: center; margin: 30px 0;">
            <ul class="pagination">
            {% if page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.previous_page_number }}">&laquo;</a>
                </li>
            {% endif %}
            {% for i in page.paginator.page_range %}
                {% if page.number == i %}
                    <li class="page-item active"><a class="page-link"><span> {{ i }}</span></a></li>
                {% else %}
                    <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">&raquo;</a></li>
            {% endif %}
    {% endif %}
            </ul>
        </nav>
</div>